.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #9a9999;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #5f5e5e;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#repositories {
  margin-top: 20px;
  text-align: left;
  color: beige;
}

.repository {
  margin-bottom: 10px;
}

